<div class="watch-section">

    <div class="section-item" style="background-image: url('https://fastly.picsum.photos/id/486/400/400.jpg?hmac=aU_3wQ366qFhoBoChWwCZ4yXBOGzm60o2fZXf5ccpC0');">
      <p>Overview</p>
    </div>
    
    <div class="section-item" style="background-image: url('https://fastly.picsum.photos/id/486/400/400.jpg?hmac=aU_3wQ366qFhoBoChWwCZ4yXBOGzm60o2fZXf5ccpC0');">
      <p>Design</p>
    </div>
    <div class="section-item" style="background-image: url('https://fastly.picsum.photos/id/486/400/400.jpg?hmac=aU_3wQ366qFhoBoChWwCZ4yXBOGzm60o2fZXf5ccpC0');">
      <p>Features</p>
    </div>
    <div class="section-item" style="background-image: url('https://fastly.picsum.photos/id/486/400/400.jpg?hmac=aU_3wQ366qFhoBoChWwCZ4yXBOGzm60o2fZXf5ccpC0');">
      <p>Technology</p>
    </div>
    
  </div>
  