<section class="own-products">
  <h2>Nuestros productos</h2>
<div class="watch-section">

    <div class="section-item" style="background-image: url('https://fastly.picsum.photos/id/486/400/400.jpg?hmac=aU_3wQ366qFhoBoChWwCZ4yXBOGzm60o2fZXf5ccpC0');">
      <p>Iphones</p>
    </div>
    
    <div class="section-item" style="background-image: url('https://fastly.picsum.photos/id/486/400/400.jpg?hmac=aU_3wQ366qFhoBoChWwCZ4yXBOGzm60o2fZXf5ccpC0');">
      <p>Ipads</p>
    </div>

    <div class="section-item" style="background-image: url('https://fastly.picsum.photos/id/486/400/400.jpg?hmac=aU_3wQ366qFhoBoChWwCZ4yXBOGzm60o2fZXf5ccpC0');">
      <p>Apple watch</p>
    </div>
    
    <div class="section-item" style="background-image: url('https://fastly.picsum.photos/id/486/400/400.jpg?hmac=aU_3wQ366qFhoBoChWwCZ4yXBOGzm60o2fZXf5ccpC0');">
      <p>Airpods</p>
    </div>
    
  </div>
</section>