<section class="header-banner">

  <div class="img-carrousel">
    <img [src]="imgs[index].url" [alt]="imgs[index].alt">
  </div>

  <div class="banner-content">

    <div class="banner-content-text-container">
      <h1>{{ "cosa" }}</h1>
      <p>{{ "maravillosa" }}</p>
      <a href="" class="banner-button">Ver Mas</a>
    </div>

    <button class="prev" (click)="nextImg()" (click)="restartClock()">&#10094;</button>
    <button class="next" (click)="prevImg()" (click)="restartClock()">&#10095;</button>
  </div>
</section>