/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 180px 100px;
  background-color: #f3f1fb;
}

.hero-text {
  flex: 1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #333;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.hero .btn {
  padding: 10px 20px;
  background-color: #4186e1;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.hero .btn:hover {
  background-color: #333;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

/* Responsivo */
@media (max-width: 768px) {
  .hero {
      flex-direction: column;
      text-align: center;
  }

  .hero-image {
      margin-top: 20px;
  }

  .hero h1 {
      font-size: 2.2rem;
  }
}
