/* Estilos del banner */
.header-banner {

  width: 100%; 
  height: 80vh;
  
  padding: 1% 2%;
  
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  overflow: hidden;
}

.img-carrousel{
  width: 100%;
  height: 100%;
  z-index: 925;
}

div img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
   
.banner-content {
  color: #fff;
  text-align: left;
  position: absolute;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 90vw;
  height: 80vh;
  z-index: 950;

}

.banner-content-text-container{
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.banner-content-text-container h1 {
  font-size: 8vw; /* Tamaño de fuente relativo al viewport */
  font-weight: 700;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra para el texto */
}

.banner-content-text-container p {
  font-size: 3vw;
  margin-top: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.banner-content-text-container a {
  font-size: 2vw;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  margin-top: 8px;
}

/* Botones de navegación */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%; /* Forma circular */
  display: none; /* Se ocultan inicialmente */
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

/* Muestra los botones al pasar el cursor por el banner */
.header-banner:hover .prev,
.header-banner:hover .next {
  display: block;
}

/* Pantallas pequeñas */
@media (max-width: 768px) {

  .banner-content-text-container{
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10vh;
  }

  .banner-content h1 {
    font-size: 5vw;
  }

  .banner-content p {
    font-size: 3vw;
  }

  .banner-content a{
    font-size: 3vw;
  }

  .prev, .next {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .banner-content h1 {
    font-size: 10vw;
  }

  .banner-content p {
    font-size: 8vw;
  }

  .banner-content a{
    font-size: 3vw;
  }

  .prev, .next {
    font-size: 16px;
  }
  
}
