.titleBox{
    width: 100%;
    height: 100px;
}

h1{
    text-align: center;
    font-size: 3em;
    padding-top:.2em;
}

p{
    font-size: 2em;
    text-align: center;
}

/*

    Selectors boxes

*/
.modelSelectors{
    width: 100%;
    height: 15vh;
}

/*
    Phones container box
*/

.phonesContainer{
    width: 100%;

    /* border: 10px solid red; */

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

}