<app-header></app-header>

<section class="big-boss">
  <div>
    <!-- titulo  y banner-->

    <div class="banner-container">
      <div class="text-section">
        <h1>{{phone.modelo}}</h1>
        <p>{{subTitulo}}</p>
      </div>
      <div class="image-section">
        <img src="https://picsum.photos/400/400?random=1" loading="lazy" alt="Motorola Razr 40 Ultra">
      </div>
    </div>



    <!-- las tres fotitos -->
    <div class="photos-container">
      <div class="photo">
        <img src="https://picsum.photos/400/400?random=1" loading="lazy" alt="Foto 1">
        <p>SIN MANOS</p>
      </div>
      <div class="photo">
        <img src="https://picsum.photos/400/400?random=1" loading="lazy" alt="Foto 2">
        <p>MIRÁ LAS SELFIES DESDE UNA FORMA TOTALMENTE NUEVA</p>
      </div>
      <div class="photo">
        <img src="https://picsum.photos/400/400?random=1" loading="lazy" alt="Foto 3">
        <p>APROVECHÁ LOS BENEFICIOS DEL TRÍPODE, PERO SIN ÉL</p>
      </div>
    </div>

    <app-product-container></app-product-container>

    <!-- FAQ -->
    <div class="faq-section">
      <h2>Featured articles</h2>
      <div class="faq-grid">
        <div class="faq-column">
          <h3>Checkout</h3>
          <details>
            <summary>How to Contact Etsy Support</summary>
            <p>Explanation on how to contact Etsy support in case of issues.</p>
          </details>
          <details>
            <summary>How to Purchase an Item On Etsy</summary>
            <p>Steps to follow when making a purchase on Etsy.</p>
          </details>

        </div>
        <div class="faq-column">
          <h3>Orders & Returns</h3>
          <details>
            <summary>Change a Wrong Shipping Address on an Order</summary>
            <p>Instructions on changing a wrong address on your order.</p>
          </details>
          <details>
            <summary>How to Track Your Etsy Order</summary>
            <p>Learn how to track the status of your order.</p>
          </details>

        </div>
        <div class="faq-column">
          <h3>Purchasing</h3>
          <details>
            <summary>How to Search for Items and Shops on Etsy</summary>
            <p>Guide on how to effectively search for items and shops.</p>
          </details>
          <details>
            <summary>COVID-19 Safety on Etsy</summary>
            <p>Safety guidelines related to purchasing during COVID-19.</p>
          </details>

        </div>
      </div>
    </div>





    <!-- formulario -->
    <div class="subscribe-section">
      <div class="subscribe-container">
        <h2>Completa el fomulario para conocer mas sobre nosotros</h2>
        <a href="https://forms.gle/tu-formulario-google" target="_blank" class="subscribe-btn">Ingresar</a>
      </div>
    </div>

  </div>

</section>

<app-footer></app-footer>