<header>
    <div class="navbar">
        <div class="logo">
            <a href="#"><img [src]="iconCross" alt="Dinastia Iphone" /></a>
        </div>

        <div class="menu-icon" #menuIcon (click)="openMenu()">
            &#9776;
        </div>
        
        <nav>
            <ul id="nav-links-norm">
                <li><a href="#" class="btn">Mac</a></li>
                <li><a href="#" class="btn">iPad</a></li>
                <li><a href="#" class="btn">iPhone</a></li>
                <li><a href="#" class="btn">Watch</a></li>
                <li><a href="#" class="btn">Comparar</a></li>
            </ul>
        </nav>
    </div>
</header>

<script>
    // Alternar menú en pantallas pequeñas
    const menuIcon = document.getElementById('menu-icon');
    const navLinks = document.getElementById('nav-links');
    
    menuIcon.addEventListener('click', () => {
        navLinks.classList.toggle('active');
    });
</script>