<div (scroll)="fnScrool($event)">
<app-header [isOnTopOfPage]="true"></app-header>
<app-banner></app-banner>
<app-product-container></app-product-container>
<!-- <app-info-prodructs></app-info-prodructs> -->
<app-history-page></app-history-page>
<app-info-pay></app-info-pay>
<app-whatsapp></app-whatsapp>
<app-theme-toggle></app-theme-toggle>
<app-faq></app-faq>
<!-- <app-product-page></app-product-page> -->
<!-- <app-banner-products></app-banner-products>  -->
<!-- <app-all-products></app-all-products>  -->

<!-- <app-product-gallery></app-product-gallery> -->
<app-footer></app-footer>
</div>