/* Estilo general de la sección de historia */
.company-history {
    width: 100%;
    height: 100%;
    background-color: #001233;
    padding: 50px 20px;

    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

.history-container {
    width: 80%;
    margin: 0 auto;
}

.company-history h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fdfcfc;
    margin-bottom: 30px;

    text-align: center;
}

.company-history p {
    font-size: 1.6em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fdfcfc;
}

/* Responsivo */
@media (max-width: 768px) {
    .company-history h2 {
        font-size: 2rem;
    }

    .company-history p {
        font-size: 1rem;
    }
}
