/* Estilo general de la sección de historia */
.company-history {
    background-color: #001233; /* Fondo claro, limpio y moderno */
    padding: 50px 20px;
    text-align: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

.history-container {
    max-width: 800px;
    margin: 0 auto;
}

.company-history h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #fdfcfc;
    margin-bottom: 20px;
}

.company-history p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fdfcfc;

}

/* Responsivo */
@media (max-width: 768px) {
    .company-history h2 {
        font-size: 2rem;
    }

    .company-history p {
        font-size: 1rem;
    }
}
