<div class="banner-container" *ngIf = "toRight()">
    <div class="banner-content">
      <h2>{{bannerDataIphone[2].model}} </h2>
      <p>{{bannerDataIphone[2].description.text}}</p>
    </div>
    <div class="banner-image">
      <img src="https://picsum.photos/400/400?random=1" loading="lazy" alt="iPhone display">
    </div>
  </div>
  
<div class="banner-container" *ngIf="!toRight()">
   <div class="banner-image">
    <img src="https://picsum.photos/400/400?random=1" loading="lazy" alt="iPhone display">
  </div>
  <div class="banner-content">
    <h2>{{bannerDataIphone[2].model}} </h2>
    <p>{{bannerDataIphone[2].description.text}}</p>
  </div>
</div>
