 
    <div class="banner">
        <div class="banner-content">
          <div class="banner-text">
            <h2>/ Sunglasses</h2>
            <p>
              French knows how much high-technology lenses in order to never be taken by
              surprise when there is a sharp bright sunny turn on the road.
            </p>
            <button>Buy 115 €</button>
          </div>
          <div class="banner-image">
            <img src="https://picsum.photos/400/400?random=1" loading="lazy" alt="Sunglasses">
          </div>
        </div>
      </div>